In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({
    "A": pd.Series([x for x in range(4)]),
    "B": pd.Series([1])
})
df

   A    B
0  0  1.0
1  1  NaN
2  2  NaN
3  3  NaN

In [14]:
# From structured or record array
# This case is handled identically to a dict of arrays.

data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])

data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [15]:
# From a list of dicts
data2 = [{"a": 1, "b": 2, "d":4}, {"a": 5, "b": 10, "c": 20}]

pd.DataFrame(data2)

   a   b    d     c
0  1   2  4.0   NaN
1  5  10  NaN  20.0

In [16]:
# From a dict of tuples
# You can automatically create a MultiIndexed frame by passing a tuples dictionary.
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [17]:
# From a Series

In [18]:
ser = pd.Series(range(3), index=list("abc"), name="ser")

pd.DataFrame(ser)

   ser
a    0
b    1
c    2

In [22]:
data = np.arange(24).reshape(4,6)
new_data = np.array(data)

TypeError: array() got an unexpected keyword argument 'name'