In [2]:
import numpy as np
import pandas as pd

#### CSV

In [3]:
# Writing to a csv file: using DataFrame.to_csv()
df = pd.DataFrame(np.arange(24).reshape(6,4), columns=list("ABCD"))
df.to_csv("data.csv")

In [11]:
# Reading from a csv file: using read_csv()
data = pd.read_csv("./data/data.csv")
data

   Unnamed: 0   A   B   C   D
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15
4           4  16  17  18  19
5           5  20  21  22  23

#### HDF5

In [12]:
# Writing to a HDF5 Store using DataFrame.to_hdf():
df = pd.DataFrame(np.arange(24).reshape(6,4), columns=list("ABCD"))
df.to_hdf("./data/foo.h5", "df")

#### Excel

In [15]:
# Writing to an excel file using DataFrame.to_excel():

df.to_excel("./data/foo.xlsx", sheet_name="Sheet1")