In [1]:
import numpy as np

import pandas as pd

In [6]:
# Creating a Series by passing a list of values, letting pandas create a default integer index:
df = pd.Series(np.array([1,2,3]))
df

0    1
1    2
2    3
dtype: int32

In [9]:
# Creating a DataFrame by passing a NumPy array, with a datetime index using date_range() and labeled columns:

dates = pd.date_range("20220215", periods=12)

dates

DatetimeIndex(['2022-02-15', '2022-02-16', '2022-02-17', '2022-02-18',
               '2022-02-19', '2022-02-20'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(np.random.randint(1,100, (12,4)), index=dates, columns=list("ABCD"))
df

             A   B   C   D
2022-02-15  65  70  57  34
2022-02-16  11  69  30  40
2022-02-17  71  70  85  28
2022-02-18  78  79  57  64
2022-02-19   5  43  48  53
2022-02-20   5  19  40  71

array([[2, 2, 2, 2, 1, 1],
       [2, 2, 2, 2, 2, 2],
       [2, 2, 1, 1, 1, 1],
       [2, 2, 1, 2, 1, 2]])