In [1]:
import numpy as np

import pandas as pd

In [6]:
# Creating a Series by passing a list of values, letting pandas create a default integer index:
df = pd.Series(np.array([1,2,3]))
df

0    1
1    2
2    3
dtype: int32

In [23]:
# Creating a DataFrame by passing a NumPy array, with a datetime index using date_range() and labeled columns:

dates = pd.date_range("20220215", periods=12)

dates

DatetimeIndex(['2022-02-15', '2022-02-16', '2022-02-17', '2022-02-18',
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df = pd.DataFrame(np.random.randint(1,100, (12,4)), index=dates, columns=list("ABCD"))
df

             A   B   C   D
2022-02-15  58  65  16  48
2022-02-16  77  85  93  85
2022-02-17  98  23  69  78
2022-02-18  50  40  78  83
2022-02-19  24  69  61  47
2022-02-20  21  82  13  70
2022-02-21  63  29  80  91
2022-02-22  74  85  38  63
2022-02-23  53  32  39   8
2022-02-24  11  55   3   8
2022-02-25  92  31  68  77
2022-02-26  79  19  23  86

In [27]:
# Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Series(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [28]:
# The columns of the resulting DataFrame have different dtypes:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
F            object
dtype: object