In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame(np.arange(0,60).reshape(12,5),index=list("abcdefghijkl"), columns = list("ABCDE"))
df

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24
f  25  26  27  28  29
g  30  31  32  33  34
h  35  36  37  38  39
i  40  41  42  43  44
j  45  46  47  48  49
k  50  51  52  53  54
l  55  56  57  58  59

#### Stats
 - Operations in general exclude missing data.

In [14]:
# Performing a descriptive statistic:

df.mean()

A    27.5
B    28.5
C    29.5
D    30.5
E    31.5
dtype: float64

In [15]:
# Same operation on the other axis:
df.mean(1)

a     2.0
b     7.0
c    12.0
d    17.0
e    22.0
f    27.0
g    32.0
h    37.0
i    42.0
j    47.0
k    52.0
l    57.0
dtype: float64

- Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension:

In [24]:

df_1 = [1,2,3,4,5]

df.sub(df_1, axis="columns",)s

    A   B   C   D   E
a  -1  -1  -1  -1  -1
b   4   4   4   4   4
c   9   9   9   9   9
d  14  14  14  14  14
e  19  19  19  19  19
f  24  24  24  24  24
g  29  29  29  29  29
h  34  34  34  34  34
i  39  39  39  39  39
j  44  44  44  44  44
k  49  49  49  49  49
l  54  54  54  54  54

#### Apply

In [36]:
# DataFrame.apply() applies a user defined function to the data:
df.apply(np.sum)

A    330
B    342
C    354
D    366
E    378
dtype: int64

#### Histogramming

In [37]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    6
1    1
2    3
3    5
4    1
5    4
6    0
7    5
8    5
9    5
dtype: int32

In [38]:
s.value_counts()

5    4
1    2
6    1
3    1
4    1
0    1
dtype: int64

#### String Methods

In [43]:
s = pd.Series([1, "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

0         NaN
1          BB
2          CC
3    AabaAaba
4    BacaBaca
5         NaN
6    CABACABA
7      dogdog
8      catcat
dtype: object