In [14]:
import numpy as np
import pandas as pd

##### pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications. See the Time Series section.

In [15]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample("5Min").sum()

2012-01-01    23653
Freq: 5T, dtype: int32

In [16]:
# Series.tz_localize() localizes a time series to a time zone:
rng = pd.date_range("3/6/2012 00:00", periods=5, freq="D")
ts = pd.Series(np.random.randn(len(rng)), rng)
ts_utc = ts.tz_localize("UTC")

In [19]:
ts_utc.tz_convert("US/Eastern")

2012-03-05 19:00:00-05:00    0.569063
2012-03-06 19:00:00-05:00   -1.020429
2012-03-07 19:00:00-05:00   -0.707161
2012-03-08 19:00:00-05:00   -0.059578
2012-03-09 19:00:00-05:00    0.755308
Freq: D, dtype: float64

In [21]:
# Converting between time span representations:
rng = pd.date_range("1/1/2012", periods=5, freq="M")

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2012-01-31    0.755163
2012-02-29    1.179617
2012-03-31    0.214798
2012-04-30   -0.518842
2012-05-31   -0.833586
Freq: M, dtype: float64

In [23]:
ps = ts.to_period()
ps

2012-01    0.755163
2012-02    1.179617
2012-03    0.214798
2012-04   -0.518842
2012-05   -0.833586
Freq: M, dtype: float64

In [26]:
ps.to_timestamp()

2012-01-01    0.755163
2012-02-01    1.179617
2012-03-01    0.214798
2012-04-01   -0.518842
2012-05-01   -0.833586
Freq: MS, dtype: float64

##### Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [27]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q-NOV")

ts = pd.Series(np.random.randn(len(prng)), prng)

ts.index = (prng.asfreq("M", "e") + 1).asfreq("H", "s") + 9

ts.head()

1990-03-01 09:00    0.536207
1990-06-01 09:00    0.112759
1990-09-01 09:00    0.796135
1990-12-01 09:00    0.836096
1991-03-01 09:00    0.131249
Freq: H, dtype: float64