In [1]:
import numpy as np
import pandas as pd

In [45]:
df = pd.DataFrame(np.arange(25).reshape(5,5), index=list("abcde"), columns=list("ABCDE"))
df["F"] = [np.nan,2]*(len(df) // 2) + [2]
df

    A   B   C   D   E    F
a   0   1   2   3   4  NaN
b   5   6   7   8   9  2.0
c  10  11  12  13  14  NaN
d  15  16  17  18  19  2.0
e  20  21  22  23  24  2.0

#### All such methods have a skipna option signaling whether to exclude missing data (True by default):

In [49]:
df.mean(skipna=False) #default axis = 0 (columns), index = 1

A    10.0
B    11.0
C    12.0
D    13.0
E    14.0
F     NaN
dtype: float64

In [51]:
df.sum(axis=1, skipna=True)

a     10.0
b     37.0
c     60.0
d     87.0
e    112.0
dtype: float64