In [1]:
import pandas as pd
import numpy as np

##### Iteration
- The behavior of basic iteration over pandas objects depends on the type. When iterating over a Series, it is regarded as array-like, and basic iteration produces the values. DataFrames follow the dict-like convention of iterating over the “keys” of the objects.

- In short, basic iteration (for i in object) produces:

   - Series: values

   - DataFrame: column labels

Thus, for example, iterating over a DataFrame gives you the column names:

In [2]:
df = pd.DataFrame(
    {"col1": np.random.randn(3), "col2": np.random.randn(3)}, index=["a", "b", "c"]
)
df

       col1      col2
a  0.901392  0.053820
b  0.409040 -0.729310
c -0.508448 -0.509474

In [3]:
for col in df:
    print(col)

col1
col2

##### items
- Consistent with the dict-like interface, items() iterates through key-value pairs:

     - Series: (index, scalar value) pairs

     - DataFrame: (column, Series) pairs

For example:

In [4]:
for label, ser in df.items():
    print(label)
    print(ser)

col1
a    0.901392
b    0.409040
c   -0.508448
Name: col1, dtype: float64
col2
a    0.053820
b   -0.729310
c   -0.509474
Name: col2, dtype: float64

##### iterrows
- iterrows() allows you to iterate through the rows of a DataFrame as Series objects. It returns an iterator yielding each index value along with a Series containing the data in each row:

In [5]:
for row_index, row in df.iterrows():
    print(row_index, row, sep="\n")

a
col1    0.901392
col2    0.053820
Name: a, dtype: float64
b
col1    0.40904
col2   -0.72931
Name: b, dtype: float64
c
col1   -0.508448
col2   -0.509474
Name: c, dtype: float64