In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame({'angles': [0, 3, 4],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])
df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [11]:
# Add a scalar with operator version which return the same results.
df.add(1)

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [12]:
# Divide by constant with reverse version.
df.div(10)

           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

In [13]:
# Subtract a list and Series by axis with operator version.
df.sub([1, 2], axis='columns')

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [14]:
df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
       axis='index')

           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

In [15]:
# Multiply a dictionary by axis.

df.mul({'angles': 0, 'degrees': 2})

           angles  degrees
circle          0      720
triangle        0      360
rectangle       0      720

In [16]:
df.mul({'circle': 0, 'triangle': 2, 'rectangle': 3}, axis='index')

           angles  degrees
circle          0        0
triangle        6      360
rectangle      12     1080

In [17]:
# DataFrame.div(other, axis='columns', level=None, fill_value=None)[source]
# Get Floating division of dataframe and other, element-wise (binary operator truediv).

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [21]:
df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
                             'degrees': [360, 180, 360, 360, 540, 720]},
                            index=[['A', 'A', 'A', 'B', 'B', 'B'],
                                   ['circle', 'triangle', 'rectangle',
                                    'square', 'pentagon', 'hexagon']])
df.div(df_multindex, level=1, fill_value=0)

             angles  degrees
A circle        NaN      1.0
  triangle      1.0      1.0
  rectangle     1.0      1.0
B square        0.0      0.0
  pentagon      0.0      0.0
  hexagon       0.0      0.0

In [26]:
# DataFrame.dot(other)[source]
# Compute the matrix multiplication between the DataFrame and other.

df = pd.DataFrame([[0, 1, -2, -1], [1, 1, 1, 1]])
s = pd.Series([1, 1, 2, 1])
df

   0  1  2  3
0  0  1 -2 -1
1  1  1  1  1

In [25]:
df.dot(s)

0   -4
1    5
dtype: int64

In [27]:
other = pd.DataFrame([[0, 1], [1, 2], [-1, -1], [2, 0]])
df.dot(other)

   0  1
0  1  4
1  2  2

In [31]:
# DataFrame.lt(other, axis='columns', level=None)[source]
# Get Less than of dataframe and other, element-wise (binary operator lt).
df = pd.DataFrame({'cost': [250, 150, 100],
                   'revenue': [100, 250, 300]},
                  index=['A', 'B', 'C'])
df

   cost  revenue
A   250      100
B   150      250
C   100      300

In [36]:
df.eq([100,250])

    cost  revenue
A  False    False
B  False     True
C   True    False

In [30]:

df.ne(pd.Series([100, 300], index=["A", "D"]), axis='index')

   cost  revenue
A  True    False
B  True     True
C  True     True
D  True     True

In [37]:
df.lt(120)

    cost  revenue
A  False     True
B  False    False
C   True    False

In [41]:
df.ne(250)

    cost  revenue
A  False     True
B   True    False
C   True     True

In [42]:
df.le(250)

   cost  revenue
A  True     True
B  True     True
C  True    False

In [43]:
df.gt(250)

    cost  revenue
A  False    False
B  False    False
C  False     True

In [44]:
df.ge(250)

    cost  revenue
A   True    False
B  False     True
C  False     True